[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
mypy = "*"
nose = "*"
pyfakefs = "*"
types-requests = "*"

[requires]
python_version = "3.9"
